<div class="header"><h1>#15:Four Square 
Step Test</h1>

   
</div>
<div class="info">
<p>
<strong>Tester:</strong> Using 4 canes (35 in [90 cm] long), set test up on the floor as shown in the figure below. Handle direction and type of canes do not matter. Have client start in box 1, facing box 2. No assistive device, no assistance, demonstrate task. Allow 1 practice trial. Demonstrate task. Time from start to finish. 
</p><p>
<strong>Client:</strong> Step forward into square 2, then sideways to square 3, then backward to square 4, then sideways to square 1, sideways to square 4, forward to square 3, sideways to square 2, and then backward to square 1. I will time you.
<p>
</div>
<div class="options"><app-timer></app-timer> <div class="radio-toolbar">
   <div >Time Recorded:<div class="time">{{time}}s</div> </div>
      

  Steps Forward:<br>
  <input type="radio" id="1" name="q15" value="1" [(ngModel)]="flag" (change)=radioEventHandler($event)>
  
  <label for="1" style="font-weight:bold; margin:1vh;">≥ 10s               </label>
  
  <input type="radio" id="0" name="q15" value="0" [(ngModel)]="flag" (change)=radioEventHandler($event)><label for="0" style="font-weight:bold">< 10s/Unable</label><br>
  Step Leg:<br>
  <input type="radio" id="left" name="q15foot" value="left" [(ngModel)]="flag2" (change)=radioEventHandler($event)>
  
  <label for="left" style="font-weight:bold; margin-right:2vh;">Left</label>
  
  <input type="radio" id="right" name="q15foot" value="right" [(ngModel)]="flag2" (change)=radioEventHandler($event)><label for="right" style="font-weight:bold">Right</label></div>
  <label for="steps">Notes: </label>
    <input type="text" id="steps" name="steps">

  </div>
<div class="bottom">
        <button [routerLink]="['/page14']" (click)="setScore15(flag)" > Back</button>
      <button [routerLink]="['/page16']" (click)="setScore15(flag)" > Next</button>

 </div>