<div class="header">#10: Rise Up on Toes      
</div>
<div class="info">
<p>
<strong>Tester: </strong>
No assistive device, no assistance, demonstrate task.


</p><p>
<strong>Client:</strong> 
Stand feet shoulder width apart, hands on your hips. Rise up on your toes as high as you can. Hold until I say stop. I will time you . 


<p>
</div>
<div class="options"><app-timer></app-timer> <div class="radio-toolbar">
  <table>
    <tr>
    <th>Stands:</th></tr>
    <tr>
      <td>over 3s</td>
      <td>
  <input type="radio" id="1" name="q1" value="1" [(ngModel)]="flag" (change)=radioEventHandler($event)>
  
  <label for="1" style="font-weight:bold">1 </label><br></td></tr><tr>
  <td>less than 3s/Unable</td><td>
  <input type="radio" id="0" name="q1" value="0" [(ngModel)]="flag" (change)=radioEventHandler($event)><label for="0" style="font-weight:bold">0</label></td></tr></table></div>
  <div >Time Recorded:<div class="time">{{time}}s</div> </div>
  </div>
<div class="bottom">
        <button [routerLink]="['/page9']"  > Back</button>
      <button [routerLink]="['/page11']"  > Next</button>

 </div>