<div class="header">#8: Timed Get Up 
and Go (TUG) (10 ft / 3 m)    

</div>
<div class="info">
<p>
Tester: 
Use standard 18 in (46 cm) chair with armrests to push from, if necessary. Place tape on the floor 10 ft (3 m) away from front of chair. Have client sit with back against chair back. Time client from time you say “go” until client returns to the chair and buttocks touches chair seat. Use 1 practice trial. Indicate assistive device, if used.

</p><p>
Client: 
Sit with your back against the chair back. When I say “go,” stand up from the chair, walk at your usual speed to the tape on the floor, turn around, come back and sit on the chair. I will time you.

<p>
</div>
<div class="options"><app-timer></app-timer> <div class="radio-toolbar">
  <table>
    <tr>
    <th>Completes in:</th></tr>
    <tr>
      <td>under 12s
</td>
      <td>
  <input type="radio" id="1" name="q8" value="1" [(ngModel)]="flag" (change)=radioEventHandler($event)>
  
  <label for="1" style="font-weight:bold">1 </label><br></td></tr><tr>
  <td>Over 12s/Unable</td><td>
  <input type="radio" id="0" name="q8" value="0" [(ngModel)]="flag" (change)=radioEventHandler($event)><label for="0" style="font-weight:bold">0</label></td></tr></table></div>
  <div >Time Recorded:<div class="time">{{time}}s</div> <br>
  <div class="radio-toolbar">
  If an assistive device is used,specify:
  <input type="radio" id="cane" name="q8d" value="cane" [(ngModel)]="flag" (change)=radioEventHandler($event)>
  <label for="cane" style="font-weight:bold; margin-right:2vh;">Cane</label>
  <input type="radio" id="walker" name="q8d" value="walker" [(ngModel)]="flag" (change)=radioEventHandler($event)><label for="walker" style="font-weight:bold">Walker</label>
  <input type="radio" id="crutch" name="q8d" value="crutch" [(ngModel)]="flag" (change)=radioEventHandler($event)>
  <label for="crutch" style="font-weight:bold; margin-right:2vh;">Crutch</label>
  <input type="radio" id="other" name="q8d" value="other" [(ngModel)]="flag" (change)=radioEventHandler($event)><label for="other" style="font-weight:bold">Other</label><br>
  </div>
  </div>
  </div>
  
<div class="bottom">
        <button [routerLink]="['/page7']"  > Back</button>
      <button [routerLink]="['/page9']"  > Next</button>

 </div>