<div class="header"><h1>#19: Stand on One Leg, Eyes Open</h1>

</div>
<div class="info">
<p>
<strong>Tester:</strong> Stand behind client with one hand on each scapula, ask client to lean backward (make sure there is room to step backward). Require client to lean until the shoulders and hips are behind the heels, and you are supporting the client’s weight. Release your support when the client is in place. 



</p><p>

<strong>Client:</strong>
 Stand with your feet shoulder width apart, arms by your sides. Keeping your back straight, lean backward against my hands, allowing me to hold your weight. When I let go, step to avoid falling. 



<p>
</div>
<div class="options"><app-timer></app-timer> <div class="radio-toolbar">
  
      

  Stands:<br>
  <input type="radio" id="1" name="q21" value="1" [(ngModel)]="flag" (change)=radioEventHandler($event)>
  
  <label for="1" style="font-weight:bold; margin:1vh;">Under 20s             </label>
  
  <input type="radio" id="0" name="q21" value="0" [(ngModel)]="flag" (change)=radioEventHandler($event)><label for="0" style="font-weight:bold">Over 20s/Unable</label><br>
  Step Leg:<br>
  <input type="radio" id="left" name="q21foot" value="left" [(ngModel)]="flag2" >
  
  <label for="left" style="font-weight:bold; margin-right:2vh;">Left</label>
  
  <input type="radio" id="right" name="q21foot" value="right" [(ngModel)]="flag2" ><label for="right" style="font-weight:bold">Right</label></div>
  <label for="notes">Notes: </label>
    <input type="text" id="notes" name="notes">

  </div>
<div class="bottom">
        <button [routerLink]="['/page20']" (click)="setScore21(flag)" style="visibility:hidden" > Back</button>
      <button [routerLink]="['/page22']" (click)="setScore21(flag)" [disabled]="!buttonDisabled"> Next</button>