<div class="header"><h1>#18: Max Step Length Forward</h1>    
   

</div>
<div class="info">
<p>
Tester: Place 2 pieces of tape, 24 in (60 cm) apart on the floor as measured by the front edge of each tape (See diagram below). Position client standing with toes at edge of tape as shown. “Able” means the client steps forward across the second tape with the whole foot AND returns in 1 step, without an assistive device or assistance. Demonstrate the task. Allow 2 trials, if needed. Score best trial. Client chooses which leg steps.


</p><p>
<strong>Client:</strong> Stand with feet hip width apart. Step on the tape with your toes against the front edge of the first tape. Place hands on your hips. Your goal is to step just across the second tape with your whole foot. Step forward with 1 leg and return to the start position in 1 step.  


<p>
</div>
<div class="options"><app-timer></app-timer> <div class="radio-toolbar">
  <table>
    <tr>
    <th>Steps Forward:</th></tr>
    <tr>
      <td>≥ 24 in (60 cm) AND returns within 1 step                       </td>
      <td>
  <input type="radio" id="1" name="q1" value="1" [(ngModel)]="flag" (change)=radioEventHandler($event)>
  
  <label for="1" style="font-weight:bold">1 </label><br></td></tr><tr>
  <td>Unable</td><td>
  <input type="radio" id="0" name="q1" value="0" [(ngModel)]="flag" (change)=radioEventHandler($event)><label for="0" style="font-weight:bold">0</label></td></tr></table></div>

  <div class="radio-toolbar">
    Step Leg: <input type="radio" id="1" name="q2" value="1" [(ngModel)]="flag" (change)=radioEventHandler($event)>
  
  <label for="1" style="font-weight:bold; margin-right:2vh;">Left </label>
  <input type="radio" id="0" name="q2" value="0" [(ngModel)]="flag" (change)=radioEventHandler($event)><label for="0" style="font-weight:bold">Right</label>
  </div>
  </div>
<div class="bottom">
        <button [routerLink]="['/page17']"  > Back</button>
      <button [routerLink]="['/page19']"  > Next</button>

 </div>