<div class="header"><h1> TANDEM STANCE</h1></div>
<div class="info">This score not counted in total.
<p>
<strong>Tester:</strong> 
No assistive device, no assistance, demonstrate task.
</p><p>
<strong>Client:</strong>
Place 1 foot directly in front of the other foot, touching heel to toe. Look straight ahead, hands on your hips. Stand as still as you can, until I say stop (client chooses foot in front).
<p>
</div>
<div class="options"><app-timer></app-timer> <div class="radio-toolbar">
   <div >Time Recorded:<div class="time">{{time}}s</div> </div>
      

  Steps Forward:<br>
  <input type="radio" id="1" name="q1" value="1" [(ngModel)]="flag" (change)=radioEventHandler($event)>
  
  <label for="1" style="font-weight:bold; margin:1vh;">≥ 10s               </label>
  
  <input type="radio" id="0" name="q1" value="0" [(ngModel)]="flag" (change)=radioEventHandler($event)><label for="0" style="font-weight:bold">< 10s/Unable</label><br>
  Step Leg:<br>
  <input type="radio" id="left" name="q1foot" value="left" [(ngModel)]="flag2" (change)=radioEventHandler($event)>
  
  <label for="left" style="font-weight:bold; margin-right:2vh;">Left</label>
  
  <input type="radio" id="right" name="q1foot" value="right" [(ngModel)]="flag2" (change)=radioEventHandler($event)><label for="right" style="font-weight:bold">Right</label></div>
  <label for="steps">Notes: </label>
    <input type="text" id="steps" name="steps">

  </div>
<div class="bottom">
        <button [routerLink]="['/info']" (click)="setScore1(flag)" style="visibility:hidden"> Back</button>
      <button  (click)="setScore1(flag);gotoPage(flag)" [disabled]="!buttonDisabled"> Next</button>

 </div>

 