<div class="header">#1:TANDEM STANCE</div>
<div class="info">This score not counted in total.
<p>
Tester: 
No assistive device, no assistance, demonstrate task.
</p><p>
Client:
Place 1 foot directly in front of the other foot, touching heel to toe. Look straight ahead, hands on your hips. Stand as still as you can, until I say stop (client chooses foot in front).
<p>
</div>
<div class="options"></div>
<div class="bottom">
        <button [routerLink]="['/start']"  > Back</button>
      <button [routerLink]="['/page1']"  > Next</button>

 </div>