<div class="header"><h1>#9: Stand Feet 
Together on Foam, 
Eyes Open    </h1>
</div>
<div class="info">
<p>
<strong>Tester:</strong> Place Tempur®  foam on the floor. Assist client stepping onto foam, guard client and assist client off the foam after testing. Allow 2 trials, if needed. Have client step off the foam between trials. Score best trial. 

</p><p>
<strong>Client:</strong> Step on the foam. Stand with your feet touching together; hands on your hips. Look straight ahead. Stand as still as you can until I say stop.  

<p>
</div>
<div class="options"><app-timer></app-timer> <div class="radio-toolbar">
  <table>
    <tr>
    <th>Stands:</th><td><div >Time Recorded:<div class="time">{{time}}s</div> </div></td></tr>
    <tr>
      <td>over 30s</td>
      <td>
  <input type="radio" id="1" name="q1" value="1" [(ngModel)]="flag" (change)=radioEventHandler($event)>
  
  <label for="1" style="font-weight:bold">1 </label><br></td></tr><tr>
  <td>less than 30s/Unable</td><td>
  <input type="radio" id="0" name="q1" value="0" [(ngModel)]="flag" (change)=radioEventHandler($event)><label for="0" style="font-weight:bold">0</label></td></tr></table></div>

  </div>
<div class="bottom">
        <button [routerLink]="['/page8']"  > Back</button>
      <button [routerLink]="['/page10']"  > Next</button>

 </div>